#contact-form {
    max-width: 40rem;
    display: grid;
    padding: 1rem;
    gap: 10px;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 3rem 3rem 3rem 8rem 4rem;

    grid-template-areas:
        'label-fullname   input-fullname'
        'label-twitter    input-twitter'
        'label-avatar     input-avatar'
        'label-notes      input-notes'
        'blank-space       buttons';
}

#contact-form .label-fullname {
    grid-area: label-fullname;
}
#contact-form .input-fullname {
    display: flex;
    justify-content: space-between;
    grid-area: input-fullname;
}
#contact-form .input-fullname input {
    width: 14rem;
}

#contact-form .label-twitter {
    grid-area: label-twitter;
}

#contact-form .input-twitter {
    grid-area: input-twitter;
}
#contact-form .label-notes {
    grid-area: label-notes;
}

#contact-form .input-notes {
    grid-area: input-notes;
}

#contact-form .buttons {
    /* margin-left: 4.5rem; */
    margin-top: 1rem;
    grid-area: buttons;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

#contact-form-avatar {
    margin-right: 2rem;
}

#contact-form textarea {
    resize: none;
    width: inherit;
    height: 8rem;
}

#contact-form-avatar img {
    width: 12rem;
    height: 12rem;
    background: hsla(0, 0%, 0%, 0.2);
}

#contact-form-avatar input {
    box-sizing: border-box;
    width: 100%;
}

#contact-form div:last-child button[type='button']:last-child {
    color: #f44250;
}
